.seat {
           width: 20px; height: 20px;
           border: solid 1px black;
           margin: 2px;
           padding: 2px;
           background-color:green;
           display: inline-block;
           color: white;
           font-size: 8px;
        }
.reserved { background-color: dimgray; }
.aisle {   border: solid 1px white; background-color: white; }
.selected {   background-color: yellow; }
.selecting {   background-color: pink; }
 
        
        .end { display: block;}
        #cinema {
            padding: 20px;
            width: 450px;
            height: 300px;
            border: solid 1px red;
        }